@page "/"

<PageTitle>Live Data</PageTitle>

@foreach (var emp in EmployeeList)
{
    <p>@emp.LastName | @emp.FirstName</p>
}


@using Microsoft.AspNetCore.SignalR.Client;
@using Blazor.Live.Database.Data;
@using Blazor.Live.Database.Service;
@inject EmployeeService employeeService;
@inject NavigationManager Navigation;

@code{
    List<Employees> EmployeeList = new List<Employees>();
    private HubConnection? HubConnection;
    protected override async Task OnInitializedAsync()
    {
        EmployeeList = await employeeService.GetAllEmployees();

        HubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/employeeshub"))
            .Build();

        HubConnection.On<List<Employees>>("RefreshEmployees", employees =>
        {
            EmployeeList = employees;
            InvokeAsync(StateHasChanged);
        });

        await HubConnection.StartAsync();
    }
}